DATABASE_URL="postgres://user:password@localhost:5432/dbname?sslmode=disable"
JWT_SECRET="jwt_secret_code"
PORT="4000"
APP_ENV="development"
ADMIN_PORT="3337"
SUPER_ADMIN_EMAIL="admin@sageconsolidated.com"
SUPER_ADMIN_PASSWORD="SuperSecretAdminPassword123!"