{
    "swagger": "2.0",
    "info": {
        "description": "## 🛡️ Sage Shield - Frontend API \u0026 Integration Guide\n\n### 🔍 1. Unified AST Log Search API (`GET /api/v1/events/logs`)\nSearches parsed logs across **both API-polled integrations (Okta, Entra)** and **uploaded log files (CSV, Syslog, EVTX)** using the AST Query Engine.\n\n**AST Query Syntax (`q` parameter)**:\n- **Free-Text Phrase Search**: `q='\"unauthorized access\"'` or `q='\"failed password\"'`\n- **Level Filtering**: `q='level=ERROR'` or `q='level=WARN'`\n- **Source Filtering**: `q='source=123e4567-e89b-12d3-a456-426614174000'`\n- **Raw Field Filtering**: `q='raw.ip_address=192.168.1.50'` or `q='raw.user_id=usr_9981'`\n- **Combined Expressions**: `q='level=ERROR \"unauthorized access\" raw.ip_address=10.0.0.1'`\n\n---\n### 📁 2. S3 Log File Upload Flow\n1. Request Presigned Upload URL: `POST /api/v1/integrations/logs-data/presign-upload`\n2. Upload File directly to S3 via returned presigned Form Post data.\n3. Confirm \u0026 Parse File: `POST /api/v1/integrations/logs-data/confirm-upload`. Entries are automatically parsed and immediately AST-searchable!\n\n---\n### 🤖 3. AI-Driven Data Quality\n- `GET /api/v1/integrations/logs-data/data-quality`: Returns overall AI Quality Score \u0026 parser health.\n- `GET /api/v1/integrations/logs-data/data-quality/ai-analysis`: Returns AI-detected unmapped fields \u0026 recommended parser fixes.\n- `POST /api/v1/integrations/logs-data/data-quality/apply-fix`: Applies AI-suggested parser fix directly.",
        "title": "Sage Shield API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "version": "1.0"
    },
    "host": "shield.sageconsolidated.com",
    "basePath": "/api/v1",
    "paths": {
        "/events/logs": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Searches parsed logs across API-polled integrations (Okta, Entra) and S3 uploaded files. Supports AST query syntax using parameter 'q' (e.g., q='level=ERROR \"unauthorized access\" raw.ip=192.168.1.1').",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Search Logs (AST \u0026 Filtering)",
                "parameters": [
                    {
                        "type": "string",
                        "description": "AST Search Query string (e.g., level=ERROR 'failed login' raw.user=johndoe)",
                        "name": "q",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page number (default: 1)",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size (default: 25, max: 200)",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by Data source ID",
                        "name": "source_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by Event type",
                        "name": "event_type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by Severity (low, medium, high, critical)",
                        "name": "severity",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by Actor email",
                        "name": "actor_email",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filter by IP address",
                        "name": "ip_address",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Start timestamp (RFC3339 format)",
                        "name": "start_time",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End timestamp (RFC3339 format)",
                        "name": "end_time",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Free text fallback search",
                        "name": "search",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/events/logs/{id}": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns full raw and normalized payload for one security event.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Get Log Detail",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Log Event ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/events/threats/summary": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns aggregate counts of threats and vulnerabilities grouped by severity (critical, high, medium, low) and 7-day trend count.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Get Known Vulnerabilities \u0026 Threats Summary",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/response.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/domain.ThreatsSummary"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/integrations": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Creates a new integration with the specified provider and configuration.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Integrations"
                ],
                "summary": "Create Integration",
                "parameters": [
                    {
                        "description": "Integration creation payload",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.CreateIntegrationRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/data-quality": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns overall data quality metrics including score, parsing errors, missing fields, unmapped logs, and duplicate events.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Get Data Quality Summary",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/data-quality/ai-analysis": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns AI-generated analysis and suggested fixes for data quality issues.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Get Data Quality AI Analysis",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/data-quality/apply-suggested-fix": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Applies an AI-suggested parser or field mapping fix to improve data quality.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Apply Suggested Data Quality Fix",
                "parameters": [
                    {
                        "description": "Apply Suggested Fix Request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.ApplySuggestedFixRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/data-quality/breakdown": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns data quality metrics per data source.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Get Data Quality Breakdown",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Quality status",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Data source ID",
                        "name": "source_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/data-quality/diff": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns before and after diff for an AI-suggested parser or mapping fix.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Preview Suggested Fix Diff",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Suggestion ID",
                        "name": "suggestion_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Parser ID",
                        "name": "parser_id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/data-quality/report": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Downloads data quality report in csv, pdf, or json format.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Download Data Quality Report",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Report format",
                        "name": "format",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Start time",
                        "name": "start_time",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End time",
                        "name": "end_time",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "file"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/data-quality/scan": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Queues a data quality scan to detect parsing errors, missing fields, duplicates, and unmapped logs.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Run Data Quality Scan",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/ingestion-health": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns ingestion health metrics including total events ingested, active sources, delayed sources, and ingestion errors.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Get Ingestion Health Summary",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/ingestion-health/notifications": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns ingestion warnings and AI insights related to source delays, drops, parsing errors, and schema changes.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Get Ingestion Notifications",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/ingestion-health/refresh": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Queues a background job to refresh ingestion health metrics.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Refresh Ingestion Health",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/ingestion-health/report": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Downloads ingestion health report in csv, pdf, or json format.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Download Ingestion Health Report",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Report format",
                        "name": "format",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Start time",
                        "name": "start_time",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End time",
                        "name": "end_time",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "file"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/ingestion-health/volume": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns time-series ingestion volume for charts, optionally filtered by source.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Get Ingestion Volume Over Time",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Start time",
                        "name": "start_time",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End time",
                        "name": "end_time",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Aggregation interval",
                        "name": "interval",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Data source ID",
                        "name": "source_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/parsers": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns custom parsers with status, parsed event count, error rate, owner, and last updated time.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "List Custom Parsers",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Search parser name",
                        "name": "search",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Parser status",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Data source",
                        "name": "data_source",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Parser type",
                        "name": "parser_type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Creates a custom parser for extracting, structuring, and normalizing raw logs.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Create Custom Parser",
                "parameters": [
                    {
                        "description": "Create Parser Request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.CreateParserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/parsers/import": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Imports a custom parser definition from JSON payload or uploaded parser configuration.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Import Parser",
                "parameters": [
                    {
                        "description": "Import Parser Request",
                        "name": "middlewares.Gequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.ImportParserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/parsers/preview": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Previews parser output before saving a new parser.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Preview Parser",
                "parameters": [
                    {
                        "description": "Preview Parser Request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.PreviewParserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/parsers/sample-logs": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns sample raw logs for parser testing and preview.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "List Sample Logs",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Data source ID",
                        "name": "source_id",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Parser ID",
                        "name": "parser_id",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size",
                        "name": "page_size",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/parsers/summary": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns parser library summary metrics including total parsers, active parsers, error rate, and last updated timestamp.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Get Parser Summary",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/parsers/validate": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Validate All Parsers",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/parsers/{id}": {
            "patch": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Updates parser configuration, logic, mappings, tags, or status. Creates a parser version before saving changes.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Update Custom Parser",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Parser ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Update Parser Request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.UpdateParserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/parsers/{id}/disable": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Disables a custom parser without deleting it.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Disable Parser",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Parser ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/parsers/{id}/enable": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Enables a custom parser for future log ingestion.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Enable Parser",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Parser ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/parsers/{id}/export": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Exports a parser definition as JSON.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Export Parser",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Parser ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/parsers/{id}/test": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Tests a parser against a sample log and returns parsed output, normalized output, errors, and field mappings.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Test Parser",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Parser ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Test Parser Request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.TestParserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/parsers/{id}/validate": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Queues validation for a parser against recent logs.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Lmiddlewares.Ggs \u0026 Data"
                ],
                "summary": "Validate Parser",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Parser ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/sources": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns connected data sources with ingestion status, events today, last event time, and health status.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "List Data Sources",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Search by source name or description",
                        "name": "search",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Source type",
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Source status",
                        "name": "status",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/sources/{id}": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns detailed health and metadata for a single data source.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Get Data Source Detail",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Data Source ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/sources/{id}/disconnect": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Disconnects a data source and stops future ingestion while preserving historical logs.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Disconnect Data Source",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Data Source ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/sources/{id}/logs": {
            "get": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Returns logs ingested from a specific data source.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "View Source Logs",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Data Source ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "type": "integer",
                        "description": "Page number",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "Page size",
                        "name": "page_size",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Event type",
                        "name": "event_type",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Severity",
                        "name": "severity",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Start time",
                        "name": "start_time",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "End time",
                        "name": "end_time",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/integrations/logs-data/sources/{id}/sync": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Manually queues a sync job for a data source.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Sync Data Source",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Data Source ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/logs/bulk-ingest": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Bulk ingests raw security events for a data source.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Bulk Ingest Logs",
                "parameters": [
                    {
                        "description": "Bulk Ingest Logs Request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.BulkIngestLogsRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        },
        "/logs/ingest": {
            "post": {
                "security": [
                    {
                        "SessionAuth": []
                    }
                ],
                "description": "Ingests one raw security event, normalizes it, and stores it for investigation and detection.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Logs \u0026 Data"
                ],
                "summary": "Ingest Log Event",
                "parameters": [
                    {
                        "description": "Ingest Log Request",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/dto.IngestLogRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.Response"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "domain.ThreatsSummary": {
            "type": "object",
            "properties": {
                "critical": {
                    "type": "integer"
                },
                "high": {
                    "type": "integer"
                },
                "low": {
                    "type": "integer"
                },
                "medium": {
                    "type": "integer"
                },
                "new_in_last_7_days": {
                    "type": "integer"
                },
                "total_threats": {
                    "type": "integer"
                }
            }
        },
        "dto.ApplySuggestedFixRequest": {
            "type": "object",
            "required": [
                "suggestion_id"
            ],
            "properties": {
                "parser_id": {
                    "type": "string"
                },
                "source_id": {
                    "type": "string"
                },
                "suggestion_id": {
                    "type": "string"
                }
            }
        },
        "dto.BulkIngestLogsRequest": {
            "type": "object",
            "required": [
                "events",
                "source_id"
            ],
            "properties": {
                "events": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                        "$ref": "#/definitions/dto.IngestLogRequest"
                    }
                },
                "source_id": {
                    "type": "string"
                }
            }
        },
        "dto.CreateIntegrationRequest": {
            "type": "object",
            "required": [
                "connection_type",
                "name",
                "provider"
            ],
            "properties": {
                "connection_type": {
                    "type": "string"
                },
                "entra": {
                    "$ref": "#/definitions/dto.EntraParams"
                },
                "name": {
                    "type": "string"
                },
                "okta": {
                    "$ref": "#/definitions/dto.OktaParams"
                },
                "provider": {
                    "type": "string",
                    "enum": [
                        "okta",
                        "entra"
                    ]
                }
            }
        },
        "dto.CreateParserRequest": {
            "type": "object",
            "required": [
                "logic",
                "name",
                "parser_type"
            ],
            "properties": {
                "auto_generate": {
                    "type": "boolean"
                },
                "data_source_id": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "logic": {
                    "type": "object",
                    "additionalProperties": true
                },
                "mappings": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "additionalProperties": true
                    }
                },
                "name": {
                    "type": "string",
                    "maxLength": 255,
                    "minLength": 1
                },
                "parser_type": {
                    "enum": [
                        "regex",
                        "json",
                        "csv",
                        "key_value",
                        "ai_nlp"
                    ],
                    "allOf": [
                        {
                            "$ref": "#/definitions/types.ParserType"
                        }
                    ]
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "dto.EntraParams": {
            "type": "object",
            "required": [
                "client_id",
                "client_secret",
                "tenant_id"
            ],
            "properties": {
                "client_id": {
                    "type": "string"
                },
                "client_secret": {
                    "type": "string"
                },
                "tenant_id": {
                    "type": "string"
                }
            }
        },
        "dto.ImportParserRequest": {
            "type": "object",
            "required": [
                "name",
                "parser_type"
            ],
            "properties": {
                "data_source_id": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "logic": {
                    "type": "object",
                    "additionalProperties": true
                },
                "mappings": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "additionalProperties": true
                    }
                },
                "name": {
                    "type": "string"
                },
                "parser_type": {
                    "$ref": "#/definitions/types.ParserType"
                },
                "status": {
                    "$ref": "#/definitions/types.ParserStatus"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "dto.IngestLogRequest": {
            "type": "object",
            "required": [
                "event_category",
                "event_type",
                "occurred_at",
                "raw_payload",
                "severity",
                "source_id"
            ],
            "properties": {
                "actor_email": {
                    "type": "string"
                },
                "actor_username": {
                    "type": "string"
                },
                "event_category": {
                    "type": "string"
                },
                "event_type": {
                    "type": "string"
                },
                "geo_city": {
                    "type": "string"
                },
                "geo_country": {
                    "type": "string"
                },
                "ip_address": {
                    "type": "string"
                },
                "occurred_at": {
                    "type": "string"
                },
                "raw_payload": {
                    "type": "object",
                    "additionalProperties": true
                },
                "severity": {
                    "enum": [
                        "low",
                        "medium",
                        "high",
                        "critical"
                    ],
                    "allOf": [
                        {
                            "$ref": "#/definitions/types.Severity"
                        }
                    ]
                },
                "source_event_id": {
                    "type": "string"
                },
                "source_id": {
                    "type": "string"
                }
            }
        },
        "dto.OktaParams": {
            "type": "object",
            "required": [
                "domain",
                "token"
            ],
            "properties": {
                "domain": {
                    "type": "string"
                },
                "token": {
                    "type": "string"
                }
            }
        },
        "dto.PreviewParserRequest": {
            "type": "object",
            "required": [
                "logic",
                "parser_type"
            ],
            "properties": {
                "logic": {
                    "type": "object",
                    "additionalProperties": true
                },
                "mappings": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "additionalProperties": true
                    }
                },
                "parser_type": {
                    "$ref": "#/definitions/types.ParserType"
                },
                "raw_payload": {
                    "type": "object",
                    "additionalProperties": true
                },
                "sample_log": {
                    "type": "string"
                }
            }
        },
        "dto.TestParserRequest": {
            "type": "object",
            "properties": {
                "raw_payload": {
                    "type": "object",
                    "additionalProperties": true
                },
                "sample_log": {
                    "type": "string"
                }
            }
        },
        "dto.UpdateParserRequest": {
            "type": "object",
            "properties": {
                "data_source_id": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "logic": {
                    "type": "object",
                    "additionalProperties": true
                },
                "mappings": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "additionalProperties": true
                    }
                },
                "name": {
                    "type": "string"
                },
                "parser_type": {
                    "$ref": "#/definitions/types.ParserType"
                },
                "status": {
                    "$ref": "#/definitions/types.ParserStatus"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "response.Response": {
            "type": "object",
            "properties": {
                "data": {},
                "message": {
                    "type": "string"
                },
                "success": {
                    "type": "boolean"
                }
            }
        },
        "types.ParserStatus": {
            "type": "string",
            "enum": [
                "active",
                "warning",
                "error",
                "disabled"
            ],
            "x-enum-varnames": [
                "ParserStatusActive",
                "ParserStatusWarning",
                "ParserStatusError",
                "ParserStatusDisabled"
            ]
        },
        "types.ParserType": {
            "type": "string",
            "enum": [
                "regex",
                "json",
                "csv",
                "key_value",
                "ai_nlp"
            ],
            "x-enum-varnames": [
                "ParserTypeRegex",
                "ParserTypeJSON",
                "ParserTypeCSV",
                "ParserTypeKeyValue",
                "ParserTypeAINLP"
            ]
        },
        "types.Severity": {
            "type": "string",
            "enum": [
                "low",
                "medium",
                "high",
                "critical"
            ],
            "x-enum-varnames": [
                "SeverityLow",
                "SeverityMedium",
                "SeverityHigh",
                "SeverityCritical"
            ]
        }
    },
    "securityDefinitions": {
        "SessionAuth": {
            "type": "apiKey",
            "name": "session_id",
            "in": "cookie"
        }
    }
}